.grocery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 20%;
    text-align: center;
}

.grocery-container h2 {
    color: #e0d5d5;
    font-size: 1rem;
    margin: 10px 0px;
}

.grocery-container p {
    margin: 10px;
    color: #e0cece;
}

.grocery-container img {
    max-width: 50%;
    height: auto;
    border-radius: 7px;
}